@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./fonts.css);

:root {
  --color-honey: '#ffc53e';
}

@media (prefers-color-scheme: dark) {
  :root {}
}

.App {
  font-family: 'Bebas Neue', sans-serif;
  font-size: larger; 
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
